{% extends 'base.html.twig' %}

{% block title %}Details produit{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Details du produit: {{prodDetails.designation}}</h1> 
            <h3>Prix: {{prodDetails.prix}}</h3> 
            <h3>couleur: {{prodDetails.color}}</h3> 
            <h3>Statut du produit: {{prodDetails.isShipped}}</h3> 
            <h3>Vendeur du produit: {{prodDetails.vendeur}}</h3> 
        </div>
    </div>
</div>


{% endblock %}