{% extends 'base.html.twig' %}

{% block title %}Details produit{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Details du produit: {{prodDetails.designation}}</h1> 
            <h3>Prix: {{prodDetails.prix}}</h3> 
            <h3>couleur: {{prodDetails.color}}</h3> 
            <h3>Statut du produit: {{prodDetails.isShipped}}</h3> 
            <h3>Vendeur du produit: {{prodDetails.vendeur}}</h3> 
            <a href="{{path('tableauProduit')}}"><button type="button" class="btn btn-info m-3">Tableau produit</button></a>
            {% if is_granted('ROLE_ADMIN') %}                 
            <a href="{{path('modif_form',{'id':prodDetails.id})}}"><button type="button" class="btn btn-warning m-3">maudifier produit</button></a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}